# Written by Synplify Pro version mapgw, Build 1086R. Synopsys Run ID: sid1538938435 
# Top Level Design Parameters 

# Clocks 
create_clock -period 4.389 -waveform {0.000 2.195} -name {ao_top|clk_i} [get_ports {clk_i}] 
create_clock -period 9.489 -waveform {0.000 4.745} -name {ao_top|control[0]} [get_ports {control[0]}] 

# Virtual Clocks 

# Generated Clocks 

# Paths Between Clocks 

# Multicycle Constraints 

# Point-to-point Delay Constraints 

# False Path Constraints 

# Output Load Constraints 

# Driving Cell Constraints 

# Input Delay Constraints 

# Output Delay Constraints 

# Wire Loads 

# Other Constraints 

# syn_hier Attributes 

# set_case Attributes 

# Clock Delay Constraints 
set Autoconstr_clkgroup_0 [list ao_top|clk_i]
set Autoconstr_clkgroup_1 [list ao_top|control[0]]
set_clock_groups -asynchronous -group $Autoconstr_clkgroup_0 -group $Autoconstr_clkgroup_1

# syn_mode Attributes 

# Cells 

# Port DRC Rules 

# Input Transition Constraints 

# Unused constraints (intentionally commented out) 

# Non-forward-annotatable constraints (intentionally commented out) 

# Block Path constraints 

