//
// Written by Synplify Pro 
// Product Version "N-2018.03G-Beta6"
// Program "Synplify Pro", Mapper "mapgw, Build 1086R"
// Mon Oct  8 19:38:05 2018
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "\c:\gowin\1.8\synplifypro\lib\generic\gw1n.v "
// file 1 "\c:\gowin\1.8\synplifypro\lib\vlog\hypermods.v "
// file 2 "\c:\gowin\1.8\synplifypro\lib\vlog\umr_capim.v "
// file 3 "\c:\gowin\1.8\synplifypro\lib\vlog\scemi_objects.v "
// file 4 "\c:\gowin\1.8\synplifypro\lib\vlog\scemi_pipes.svh "
// file 5 "\c:\fpga_oled_ssd1306\src\ssd1306.v "
// file 6 "\c:\fpga_oled_ssd1306\src\ssd1306_rom_cfg_mod_header.v "
// file 7 "\c:\fpga_oled_ssd1306\src\ssd1306_rom_cfg_mod.v "
// file 8 "\c:\fpga_oled_ssd1306\src\spi_master.v "
// file 9 "\c:\gowin\1.8\synplifypro\lib\nlconst.dat "

`timescale 100 ps/100 ps
module SSD1306 (
  clk_50M,
  rst_n,
  oled_dc,
  oled_res,
  oled_sclk,
  oled_sdin,
  oled_vbat,
  oled_vdd,
  led
)
;
input clk_50M ;
input rst_n ;
output oled_dc ;
output oled_res ;
output oled_sclk ;
output oled_sdin ;
output oled_vbat ;
output oled_vdd ;
output [3:0] led ;
wire clk_50M ;
wire rst_n ;
wire oled_dc ;
wire oled_res ;
wire oled_sclk ;
wire oled_sdin ;
wire oled_vbat ;
wire oled_vdd ;
wire [3:0] step_id;
wire [24:0] cnt;
wire [24:6] cnt_3;
wire [3:0] led_c;
wire [3:0] step_id_i;
wire [2:0] step_id_cry;
wire [3:0] step_id_s;
wire [7:0] cnt_fast;
wire [3:3] step_id_s_0_COUT;
wire clk_ssd1306 ;
wire GND ;
wire VCC ;
wire internal_state_machine ;
wire clk_ssd13064 ;
wire step_id_0_sqmuxa_2 ;
wire N_27 ;
wire N_28 ;
wire N_29 ;
wire N_30 ;
wire N_31 ;
wire N_32 ;
wire N_33 ;
wire N_34 ;
wire N_35 ;
wire N_36 ;
wire N_37 ;
wire N_38 ;
wire N_39 ;
wire N_40 ;
wire N_41 ;
wire N_42 ;
wire N_43 ;
wire N_44 ;
wire N_45 ;
wire N_46 ;
wire N_47 ;
wire N_48 ;
wire N_49 ;
wire N_50 ;
wire N_51 ;
wire N_52 ;
wire N_53 ;
wire N_54 ;
wire clk_50M_c ;
wire rst_n_c ;
wire un3_cnt_cry_0_0_SUM ;
wire un3_cnt_cry_1_0_SUM ;
wire un3_cnt_cry_2_0_SUM ;
wire un3_cnt_cry_3_0_SUM ;
wire un3_cnt_cry_4_0_SUM ;
wire un3_cnt_cry_5_0_SUM ;
wire un3_cnt_cry_6_0_SUM ;
wire un3_cnt_s_7_0_SUM ;
wire un3_cnt_cry_8_0_SUM ;
wire un3_cnt_cry_9_0_SUM ;
wire un3_cnt_cry_10_0_SUM ;
wire un3_cnt_cry_11_0_SUM ;
wire un3_cnt_cry_12_0_SUM ;
wire un3_cnt_cry_13_0_SUM ;
wire un3_cnt_cry_14_0_SUM ;
wire un3_cnt_cry_15_0_SUM ;
wire un3_cnt_cry_16_0_SUM ;
wire un3_cnt_cry_17_0_SUM ;
wire un3_cnt_s_18_0_SUM ;
wire un3_cnt_cry_19_0_SUM ;
wire un3_cnt_cry_20_0_SUM ;
wire un3_cnt_cry_21_0_SUM ;
wire un3_cnt_cry_22_0_SUM ;
wire un3_cnt_cry_23_0_SUM ;
wire un3_cnt_s_24_0_SUM ;
wire un3_cnt_cry_0 ;
wire un3_cnt_cry_1 ;
wire un3_cnt_cry_2 ;
wire un3_cnt_cry_3 ;
wire un3_cnt_cry_4 ;
wire un3_cnt_cry_5 ;
wire un3_cnt_cry_6 ;
wire un3_cnt_cry_8 ;
wire un3_cnt_cry_9 ;
wire un3_cnt_cry_10 ;
wire un3_cnt_cry_11 ;
wire un3_cnt_cry_12 ;
wire un3_cnt_cry_13 ;
wire un3_cnt_cry_14 ;
wire un3_cnt_cry_15 ;
wire un3_cnt_cry_16 ;
wire un3_cnt_cry_17 ;
wire un3_cnt_cry_19 ;
wire un3_cnt_cry_20 ;
wire un3_cnt_cry_21 ;
wire un3_cnt_cry_22 ;
wire un3_cnt_cry_23 ;
wire internal_state_machine_i ;
wire rst_n_c_i ;
wire clk_ssd1306_i_i ;
wire step_id_1_sqmuxa_2_i ;
wire N_209 ;
wire N_210 ;
wire N_211 ;
wire clk_ssd13064_13 ;
wire clk_ssd13064_14 ;
wire clk_ssd13064_15 ;
wire clk_ssd13064_16 ;
wire clk_ssd13064_17 ;
wire clk_ssd13064_18 ;
wire clk_ssd13064_22 ;
wire un3_cnt_axb_0_par_1_COUT ;
wire un3_cnt_axb_0_par_0 ;
wire un3_cnt_axb_4_par_1_COUT ;
wire un3_cnt_axb_4_par_0 ;
wire un3_cnt_axb_0_par_0_cp ;
wire un3_cnt_axb_0_par_cp_0_COUT ;
wire un3_cnt_axb_4_par_0_cp ;
wire un3_cnt_axb_4_par_cp_0_COUT ;
wire un3_cnt_axb_8_par_1_COUT ;
wire un3_cnt_axb_8_par_0 ;
wire un3_cnt_axb_12_par_1_COUT ;
wire un3_cnt_axb_12_par_0 ;
wire un3_cnt_axb_16_par_1_COUT ;
wire clk_ssd13064_18_sx ;
wire clk_ssd13064_sx ;
wire clk_ssd13064_1 ;
wire un3_cnt_axb_0_par_cp_0_SUM ;
wire un3_cnt_axb_4_par_cp_0_SUM ;
wire un3_cnt_axb_8_par_1_SUM ;
wire un3_cnt_axb_12_par_1_SUM ;
wire un3_cnt_axb_16_par_1_SUM ;
wire un3_cnt_axb_16_par_1_RNO ;
wire un3_cnt_s_24_0_COUT ;
wire un3_cnt_axb_0_par_1_SUM ;
wire un3_cnt_axb_4_par_1_SUM ;
wire un3_cnt_s_18_0_COUT ;
wire un3_cnt_s_7_0_COUT ;
  GSR GSR_INST (
	.GSRI(VCC)
);
// @5:159
  INV \step_id_s_cZ[0]  (
	.I(step_id[0]),
	.O(step_id_s[0])
);
// @5:159
  INV internal_state_machine_i_cZ (
	.I(internal_state_machine),
	.O(internal_state_machine_i)
);
// @5:171
  INV rst_n_ibuf_RNIBNDC (
	.I(rst_n_c),
	.O(rst_n_c_i)
);
// @5:159
  INV \led_RNO[3]  (
	.I(step_id[3]),
	.O(step_id_i[3])
);
// @5:159
  INV \led_RNO[2]  (
	.I(step_id[2]),
	.O(step_id_i[2])
);
// @5:159
  INV \led_RNO[1]  (
	.I(step_id[1]),
	.O(step_id_i[1])
);
// @5:99
  INV clk_ssd1306_i_i_cZ (
	.I(clk_ssd1306),
	.O(clk_ssd1306_i_i)
);
// @5:109
  LUT4 \cnt_3_cZ[6]  (
	.I0(un3_cnt_cry_6_0_SUM),
	.I1(clk_ssd13064_17),
	.I2(clk_ssd13064_18),
	.I3(clk_ssd13064_22),
	.F(cnt_3[6])
);
defparam \cnt_3_cZ[6] .INIT=16'h2AAA;
// @5:109
  LUT4 \cnt_3_cZ[16]  (
	.I0(un3_cnt_cry_16_0_SUM),
	.I1(clk_ssd13064_17),
	.I2(clk_ssd13064_18),
	.I3(clk_ssd13064_22),
	.F(cnt_3[16])
);
defparam \cnt_3_cZ[16] .INIT=16'h2AAA;
// @5:109
  LUT4 \cnt_3_cZ[24]  (
	.I0(un3_cnt_s_24_0_SUM),
	.I1(clk_ssd13064_17),
	.I2(clk_ssd13064_18),
	.I3(clk_ssd13064_22),
	.F(cnt_3[24])
);
defparam \cnt_3_cZ[24] .INIT=16'h2AAA;
// @5:109
  LUT4 \cnt_3_cZ[11]  (
	.I0(un3_cnt_cry_11_0_SUM),
	.I1(clk_ssd13064_17),
	.I2(clk_ssd13064_18),
	.I3(clk_ssd13064_22),
	.F(cnt_3[11])
);
defparam \cnt_3_cZ[11] .INIT=16'h2AAA;
// @5:109
  LUT4 \cnt_3_cZ[12]  (
	.I0(un3_cnt_cry_12_0_SUM),
	.I1(clk_ssd13064_17),
	.I2(clk_ssd13064_18),
	.I3(clk_ssd13064_22),
	.F(cnt_3[12])
);
defparam \cnt_3_cZ[12] .INIT=16'h2AAA;
// @5:109
  LUT4 \cnt_3_cZ[13]  (
	.I0(un3_cnt_cry_13_0_SUM),
	.I1(clk_ssd13064_17),
	.I2(clk_ssd13064_18),
	.I3(clk_ssd13064_22),
	.F(cnt_3[13])
);
defparam \cnt_3_cZ[13] .INIT=16'h2AAA;
// @5:109
  LUT4 \cnt_3_cZ[14]  (
	.I0(un3_cnt_cry_14_0_SUM),
	.I1(clk_ssd13064_17),
	.I2(clk_ssd13064_18),
	.I3(clk_ssd13064_22),
	.F(cnt_3[14])
);
defparam \cnt_3_cZ[14] .INIT=16'h2AAA;
// @5:109
  LUT4 \cnt_3_cZ[18]  (
	.I0(un3_cnt_s_18_0_SUM),
	.I1(clk_ssd13064_17),
	.I2(clk_ssd13064_18),
	.I3(clk_ssd13064_22),
	.F(cnt_3[18])
);
defparam \cnt_3_cZ[18] .INIT=16'h2AAA;
// @5:109
  LUT4 \cnt_3_cZ[19]  (
	.I0(un3_cnt_cry_19_0_SUM),
	.I1(clk_ssd13064_17),
	.I2(clk_ssd13064_18),
	.I3(clk_ssd13064_22),
	.F(cnt_3[19])
);
defparam \cnt_3_cZ[19] .INIT=16'h2AAA;
// @5:109
  LUT4 \cnt_3_cZ[20]  (
	.I0(un3_cnt_cry_20_0_SUM),
	.I1(clk_ssd13064_17),
	.I2(clk_ssd13064_18),
	.I3(clk_ssd13064_22),
	.F(cnt_3[20])
);
defparam \cnt_3_cZ[20] .INIT=16'h2AAA;
// @5:109
  LUT4 \cnt_3_cZ[21]  (
	.I0(un3_cnt_cry_21_0_SUM),
	.I1(clk_ssd13064_17),
	.I2(clk_ssd13064_18),
	.I3(clk_ssd13064_22),
	.F(cnt_3[21])
);
defparam \cnt_3_cZ[21] .INIT=16'h2AAA;
// @5:109
  LUT4 \cnt_3_cZ[22]  (
	.I0(un3_cnt_cry_22_0_SUM),
	.I1(clk_ssd13064_17),
	.I2(clk_ssd13064_18),
	.I3(clk_ssd13064_22),
	.F(cnt_3[22])
);
defparam \cnt_3_cZ[22] .INIT=16'h2AAA;
// @5:109
  LUT4 clk_ssd13064_22_cZ (
	.I0(clk_ssd13064_13),
	.I1(clk_ssd13064_14),
	.I2(clk_ssd13064_15),
	.I3(clk_ssd13064_16),
	.F(clk_ssd13064_22)
);
defparam clk_ssd13064_22_cZ.INIT=16'h8000;
// @5:159
  LUT2 step_id_1_sqmuxa_2_i_cZ (
	.I0(internal_state_machine),
	.I1(rst_n_c),
	.F(step_id_1_sqmuxa_2_i)
);
defparam step_id_1_sqmuxa_2_i_cZ.INIT=4'hB;
// @5:109
  LUT4 clk_ssd13064_13_cZ (
	.I0(cnt[10]),
	.I1(cnt[15]),
	.I2(cnt[17]),
	.I3(cnt[23]),
	.F(clk_ssd13064_13)
);
defparam clk_ssd13064_13_cZ.INIT=16'h0001;
// @5:109
  LUT4 clk_ssd13064_14_cZ (
	.I0(cnt[6]),
	.I1(cnt[8]),
	.I2(cnt[9]),
	.I3(cnt_fast[7]),
	.F(clk_ssd13064_14)
);
defparam clk_ssd13064_14_cZ.INIT=16'h0001;
// @5:109
  LUT4 clk_ssd13064_15_cZ (
	.I0(cnt[20]),
	.I1(cnt[21]),
	.I2(cnt[22]),
	.I3(cnt[24]),
	.F(clk_ssd13064_15)
);
defparam clk_ssd13064_15_cZ.INIT=16'h8000;
// @5:109
  LUT4 clk_ssd13064_16_cZ (
	.I0(cnt[14]),
	.I1(cnt[16]),
	.I2(cnt[18]),
	.I3(cnt[19]),
	.F(clk_ssd13064_16)
);
defparam clk_ssd13064_16_cZ.INIT=16'h8000;
// @5:109
  LUT4 clk_ssd13064_17_cZ (
	.I0(cnt[5]),
	.I1(cnt[11]),
	.I2(cnt[12]),
	.I3(cnt[13]),
	.F(clk_ssd13064_17)
);
defparam clk_ssd13064_17_cZ.INIT=16'h8000;
// @5:171
  LUT2 step_id_0_sqmuxa_2_cZ (
	.I0(internal_state_machine),
	.I1(rst_n_c),
	.F(step_id_0_sqmuxa_2)
);
defparam step_id_0_sqmuxa_2_cZ.INIT=4'h1;
// @5:109
  LUT4 clk_ssd13064_18_sx_cZ (
	.I0(cnt[2]),
	.I1(cnt[3]),
	.I2(cnt_fast[0]),
	.I3(cnt_fast[1]),
	.F(clk_ssd13064_18_sx)
);
defparam clk_ssd13064_18_sx_cZ.INIT=16'h7FFF;
// @5:109
  LUT2 clk_ssd13064_18_cZ (
	.I0(clk_ssd13064_18_sx),
	.I1(cnt[4]),
	.F(clk_ssd13064_18)
);
defparam clk_ssd13064_18_cZ.INIT=4'h4;
// @5:109
  LUT4 clk_ssd13064_sx_cZ (
	.I0(clk_ssd13064_13),
	.I1(clk_ssd13064_14),
	.I2(clk_ssd13064_15),
	.I3(clk_ssd13064_16),
	.F(clk_ssd13064_sx)
);
defparam clk_ssd13064_sx_cZ.INIT=16'h7FFF;
// @5:109
  LUT4 clk_ssd13064_1_cZ (
	.I0(cnt[2]),
	.I1(cnt[3]),
	.I2(cnt[4]),
	.I3(cnt_fast[0]),
	.F(clk_ssd13064_1)
);
defparam clk_ssd13064_1_cZ.INIT=16'h7FFF;
// @5:109
  LUT4 clk_ssd13064_cZ (
	.I0(clk_ssd13064_1),
	.I1(clk_ssd13064_17),
	.I2(clk_ssd13064_sx),
	.I3(cnt_fast[1]),
	.F(clk_ssd13064)
);
defparam clk_ssd13064_cZ.INIT=16'h0400;
// @5:114
  LUT4 un3_cnt_axb_12_par_0_cZ (
	.I0(cnt[12]),
	.I1(cnt[13]),
	.I2(cnt[14]),
	.I3(cnt[15]),
	.F(un3_cnt_axb_12_par_0)
);
defparam un3_cnt_axb_12_par_0_cZ.INIT=16'h8000;
// @5:114
  LUT4 un3_cnt_axb_8_par_0_cZ (
	.I0(cnt[8]),
	.I1(cnt[9]),
	.I2(cnt[10]),
	.I3(cnt[11]),
	.F(un3_cnt_axb_8_par_0)
);
defparam un3_cnt_axb_8_par_0_cZ.INIT=16'h8000;
// @5:114
  LUT4 un3_cnt_axb_4_par_0_cp_cZ (
	.I0(cnt[4]),
	.I1(cnt[5]),
	.I2(cnt[6]),
	.I3(cnt[7]),
	.F(un3_cnt_axb_4_par_0_cp)
);
defparam un3_cnt_axb_4_par_0_cp_cZ.INIT=16'h8000;
// @5:114
  LUT4 un3_cnt_axb_0_par_0_cp_cZ (
	.I0(cnt[0]),
	.I1(cnt[1]),
	.I2(cnt[2]),
	.I3(cnt[3]),
	.F(un3_cnt_axb_0_par_0_cp)
);
defparam un3_cnt_axb_0_par_0_cp_cZ.INIT=16'h8000;
// @5:114
  LUT4 un3_cnt_axb_4_par_0_cZ (
	.I0(cnt[4]),
	.I1(cnt[5]),
	.I2(cnt[6]),
	.I3(cnt[7]),
	.F(un3_cnt_axb_4_par_0)
);
defparam un3_cnt_axb_4_par_0_cZ.INIT=16'h8000;
// @5:114
  LUT4 un3_cnt_axb_0_par_0_cZ (
	.I0(cnt[0]),
	.I1(cnt[1]),
	.I2(cnt[2]),
	.I3(cnt[3]),
	.F(un3_cnt_axb_0_par_0)
);
defparam un3_cnt_axb_0_par_0_cZ.INIT=16'h8000;
  LUT3 un3_cnt_axb_16_par_1_RNO_cZ (
	.I0(cnt[16]),
	.I1(cnt[17]),
	.I2(cnt[18]),
	.F(un3_cnt_axb_16_par_1_RNO)
);
defparam un3_cnt_axb_16_par_1_RNO_cZ.INIT=8'h80;
// @5:159
  DFFS internal_state_machine_Z (
	.Q(internal_state_machine),
	.D(GND),
	.CLK(clk_ssd1306),
	.SET(internal_state_machine_i)
);
// @5:159
  DFFRE \step_id_Z[0]  (
	.Q(step_id[0]),
	.D(step_id_s[0]),
	.CLK(clk_ssd1306),
	.RESET(step_id_0_sqmuxa_2),
	.CE(step_id_1_sqmuxa_2_i)
);
// @5:159
  DFFRE \step_id_Z[1]  (
	.Q(step_id[1]),
	.D(step_id_s[1]),
	.CLK(clk_ssd1306),
	.RESET(step_id_0_sqmuxa_2),
	.CE(step_id_1_sqmuxa_2_i)
);
// @5:159
  DFFRE \step_id_Z[2]  (
	.Q(step_id[2]),
	.D(step_id_s[2]),
	.CLK(clk_ssd1306),
	.RESET(step_id_0_sqmuxa_2),
	.CE(step_id_1_sqmuxa_2_i)
);
// @5:159
  DFFRE \step_id_Z[3]  (
	.Q(step_id[3]),
	.D(step_id_s[3]),
	.CLK(clk_ssd1306),
	.RESET(step_id_0_sqmuxa_2),
	.CE(step_id_1_sqmuxa_2_i)
);
// @5:99
  DFFC \cnt_fast_Z[7]  (
	.Q(cnt_fast[7]),
	.D(un3_cnt_s_7_0_SUM),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:99
  DFFC \cnt_fast_Z[1]  (
	.Q(cnt_fast[1]),
	.D(un3_cnt_cry_1_0_SUM),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:99
  DFFC \cnt_fast_Z[0]  (
	.Q(cnt_fast[0]),
	.D(un3_cnt_cry_0_0_SUM),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:99
  DFFC \cnt_Z[8]  (
	.Q(cnt[8]),
	.D(un3_cnt_cry_8_0_SUM),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:99
  DFFC \cnt_Z[7]  (
	.Q(cnt[7]),
	.D(un3_cnt_s_7_0_SUM),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:99
  DFFC \cnt_Z[6]  (
	.Q(cnt[6]),
	.D(cnt_3[6]),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:99
  DFFC \cnt_Z[5]  (
	.Q(cnt[5]),
	.D(un3_cnt_cry_5_0_SUM),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:99
  DFFC \cnt_Z[4]  (
	.Q(cnt[4]),
	.D(un3_cnt_cry_4_0_SUM),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:99
  DFFC \cnt_Z[3]  (
	.Q(cnt[3]),
	.D(un3_cnt_cry_3_0_SUM),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:99
  DFFC \cnt_Z[2]  (
	.Q(cnt[2]),
	.D(un3_cnt_cry_2_0_SUM),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:99
  DFFC \cnt_Z[1]  (
	.Q(cnt[1]),
	.D(un3_cnt_cry_1_0_SUM),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:99
  DFFC \cnt_Z[0]  (
	.Q(cnt[0]),
	.D(un3_cnt_cry_0_0_SUM),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:99
  DFFC \cnt_Z[23]  (
	.Q(cnt[23]),
	.D(un3_cnt_cry_23_0_SUM),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:99
  DFFC \cnt_Z[22]  (
	.Q(cnt[22]),
	.D(cnt_3[22]),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:99
  DFFC \cnt_Z[21]  (
	.Q(cnt[21]),
	.D(cnt_3[21]),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:99
  DFFC \cnt_Z[20]  (
	.Q(cnt[20]),
	.D(cnt_3[20]),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:99
  DFFC \cnt_Z[19]  (
	.Q(cnt[19]),
	.D(cnt_3[19]),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:99
  DFFC \cnt_Z[18]  (
	.Q(cnt[18]),
	.D(cnt_3[18]),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:99
  DFFC \cnt_Z[17]  (
	.Q(cnt[17]),
	.D(un3_cnt_cry_17_0_SUM),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:99
  DFFC \cnt_Z[16]  (
	.Q(cnt[16]),
	.D(cnt_3[16]),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:99
  DFFC \cnt_Z[15]  (
	.Q(cnt[15]),
	.D(un3_cnt_cry_15_0_SUM),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:99
  DFFC \cnt_Z[14]  (
	.Q(cnt[14]),
	.D(cnt_3[14]),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:99
  DFFC \cnt_Z[13]  (
	.Q(cnt[13]),
	.D(cnt_3[13]),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:99
  DFFC \cnt_Z[12]  (
	.Q(cnt[12]),
	.D(cnt_3[12]),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:99
  DFFC \cnt_Z[11]  (
	.Q(cnt[11]),
	.D(cnt_3[11]),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:99
  DFFC \cnt_Z[10]  (
	.Q(cnt[10]),
	.D(un3_cnt_cry_10_0_SUM),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:99
  DFFC \cnt_Z[9]  (
	.Q(cnt[9]),
	.D(un3_cnt_cry_9_0_SUM),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:159
  DFF \led_Z[3]  (
	.Q(led_c[3]),
	.D(step_id_i[3]),
	.CLK(clk_ssd1306)
);
// @5:159
  DFF \led_Z[2]  (
	.Q(led_c[2]),
	.D(step_id_i[2]),
	.CLK(clk_ssd1306)
);
// @5:159
  DFF \led_Z[1]  (
	.Q(led_c[1]),
	.D(step_id_i[1]),
	.CLK(clk_ssd1306)
);
// @5:159
  DFF \led_Z[0]  (
	.Q(led_c[0]),
	.D(step_id_i[0]),
	.CLK(clk_ssd1306)
);
// @5:99
  DFFC \cnt_Z[24]  (
	.Q(cnt[24]),
	.D(cnt_3[24]),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:99
  DFFCE clk_ssd1306_Z (
	.Q(clk_ssd1306),
	.D(clk_ssd1306_i_i),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i),
	.CE(clk_ssd13064)
);
// @5:32
  IBUF clk_50M_ibuf (
	.O(clk_50M_c),
	.I(clk_50M)
);
// @5:33
  IBUF rst_n_ibuf (
	.O(rst_n_c),
	.I(rst_n)
);
// @5:34
  OBUF oled_dc_obuf (
	.O(oled_dc),
	.I(GND)
);
// @5:35
  OBUF oled_res_obuf (
	.O(oled_res),
	.I(GND)
);
// @5:36
  OBUF oled_sclk_obuf (
	.O(oled_sclk),
	.I(GND)
);
// @5:37
  OBUF oled_sdin_obuf (
	.O(oled_sdin),
	.I(GND)
);
// @5:38
  OBUF oled_vbat_obuf (
	.O(oled_vbat),
	.I(GND)
);
// @5:39
  OBUF oled_vdd_obuf (
	.O(oled_vdd),
	.I(GND)
);
// @5:40
  OBUF \led_obuf[0]  (
	.O(led[0]),
	.I(led_c[0])
);
// @5:40
  OBUF \led_obuf[1]  (
	.O(led[1]),
	.I(led_c[1])
);
// @5:40
  OBUF \led_obuf[2]  (
	.O(led[2]),
	.I(led_c[2])
);
// @5:40
  OBUF \led_obuf[3]  (
	.O(led[3]),
	.I(led_c[3])
);
// @5:114
  ALU un3_cnt_s_7_0 (
	.CIN(un3_cnt_cry_6),
	.I0(cnt[7]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_s_7_0_COUT),
	.SUM(un3_cnt_s_7_0_SUM)
);
defparam un3_cnt_s_7_0.ALU_MODE=0;
// @5:114
  ALU un3_cnt_cry_6_0 (
	.CIN(un3_cnt_cry_5),
	.I0(cnt[6]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_6),
	.SUM(un3_cnt_cry_6_0_SUM)
);
defparam un3_cnt_cry_6_0.ALU_MODE=0;
// @5:114
  ALU un3_cnt_cry_5_0 (
	.CIN(un3_cnt_cry_4),
	.I0(cnt[5]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_5),
	.SUM(un3_cnt_cry_5_0_SUM)
);
defparam un3_cnt_cry_5_0.ALU_MODE=0;
// @5:114
  ALU un3_cnt_cry_4_0 (
	.CIN(un3_cnt_cry_3),
	.I0(cnt[4]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_4),
	.SUM(un3_cnt_cry_4_0_SUM)
);
defparam un3_cnt_cry_4_0.ALU_MODE=0;
// @5:114
  ALU un3_cnt_cry_3_0 (
	.CIN(un3_cnt_cry_2),
	.I0(cnt[3]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_3),
	.SUM(un3_cnt_cry_3_0_SUM)
);
defparam un3_cnt_cry_3_0.ALU_MODE=0;
// @5:114
  ALU un3_cnt_cry_2_0 (
	.CIN(un3_cnt_cry_1),
	.I0(cnt[2]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_2),
	.SUM(un3_cnt_cry_2_0_SUM)
);
defparam un3_cnt_cry_2_0.ALU_MODE=0;
// @5:114
  ALU un3_cnt_cry_1_0 (
	.CIN(un3_cnt_cry_0),
	.I0(cnt[1]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_1),
	.SUM(un3_cnt_cry_1_0_SUM)
);
defparam un3_cnt_cry_1_0.ALU_MODE=0;
// @5:114
  ALU un3_cnt_cry_0_0 (
	.CIN(VCC),
	.I0(cnt[0]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_0),
	.SUM(un3_cnt_cry_0_0_SUM)
);
defparam un3_cnt_cry_0_0.ALU_MODE=0;
// @5:159
  ALU \step_id_s_0[3]  (
	.CIN(step_id_cry[2]),
	.I0(step_id[3]),
	.I1(GND),
	.I3(GND),
	.COUT(step_id_s_0_COUT[3]),
	.SUM(step_id_s[3])
);
defparam \step_id_s_0[3] .ALU_MODE=0;
// @5:159
  ALU \step_id_cry_0[2]  (
	.CIN(step_id_cry[1]),
	.I0(step_id[2]),
	.I1(GND),
	.I3(GND),
	.COUT(step_id_cry[2]),
	.SUM(step_id_s[2])
);
defparam \step_id_cry_0[2] .ALU_MODE=0;
// @5:159
  ALU \step_id_cry_0[1]  (
	.CIN(step_id_cry[0]),
	.I0(step_id[1]),
	.I1(GND),
	.I3(GND),
	.COUT(step_id_cry[1]),
	.SUM(step_id_s[1])
);
defparam \step_id_cry_0[1] .ALU_MODE=0;
// @5:159
  ALU \step_id_cry_0[0]  (
	.CIN(VCC),
	.I0(step_id[0]),
	.I1(GND),
	.I3(GND),
	.COUT(step_id_cry[0]),
	.SUM(step_id_i[0])
);
defparam \step_id_cry_0[0] .ALU_MODE=0;
// @5:114
  ALU un3_cnt_s_18_0 (
	.CIN(un3_cnt_cry_17),
	.I0(cnt[18]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_s_18_0_COUT),
	.SUM(un3_cnt_s_18_0_SUM)
);
defparam un3_cnt_s_18_0.ALU_MODE=0;
// @5:114
  ALU un3_cnt_cry_17_0 (
	.CIN(un3_cnt_cry_16),
	.I0(cnt[17]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_17),
	.SUM(un3_cnt_cry_17_0_SUM)
);
defparam un3_cnt_cry_17_0.ALU_MODE=0;
// @5:114
  ALU un3_cnt_cry_16_0 (
	.CIN(un3_cnt_cry_15),
	.I0(cnt[16]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_16),
	.SUM(un3_cnt_cry_16_0_SUM)
);
defparam un3_cnt_cry_16_0.ALU_MODE=0;
// @5:114
  ALU un3_cnt_cry_15_0 (
	.CIN(un3_cnt_cry_14),
	.I0(cnt[15]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_15),
	.SUM(un3_cnt_cry_15_0_SUM)
);
defparam un3_cnt_cry_15_0.ALU_MODE=0;
// @5:114
  ALU un3_cnt_cry_14_0 (
	.CIN(un3_cnt_cry_13),
	.I0(cnt[14]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_14),
	.SUM(un3_cnt_cry_14_0_SUM)
);
defparam un3_cnt_cry_14_0.ALU_MODE=0;
// @5:114
  ALU un3_cnt_cry_13_0 (
	.CIN(un3_cnt_cry_12),
	.I0(cnt[13]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_13),
	.SUM(un3_cnt_cry_13_0_SUM)
);
defparam un3_cnt_cry_13_0.ALU_MODE=0;
// @5:114
  ALU un3_cnt_cry_12_0 (
	.CIN(un3_cnt_cry_11),
	.I0(cnt[12]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_12),
	.SUM(un3_cnt_cry_12_0_SUM)
);
defparam un3_cnt_cry_12_0.ALU_MODE=0;
// @5:114
  ALU un3_cnt_cry_11_0 (
	.CIN(un3_cnt_cry_10),
	.I0(cnt[11]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_11),
	.SUM(un3_cnt_cry_11_0_SUM)
);
defparam un3_cnt_cry_11_0.ALU_MODE=0;
// @5:114
  ALU un3_cnt_cry_10_0 (
	.CIN(un3_cnt_cry_9),
	.I0(cnt[10]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_10),
	.SUM(un3_cnt_cry_10_0_SUM)
);
defparam un3_cnt_cry_10_0.ALU_MODE=0;
// @5:114
  ALU un3_cnt_cry_9_0 (
	.CIN(un3_cnt_cry_8),
	.I0(cnt[9]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_9),
	.SUM(un3_cnt_cry_9_0_SUM)
);
defparam un3_cnt_cry_9_0.ALU_MODE=0;
// @5:114
  ALU un3_cnt_cry_8_0 (
	.CIN(un3_cnt_axb_4_par_1_COUT),
	.I0(cnt[8]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_8),
	.SUM(un3_cnt_cry_8_0_SUM)
);
defparam un3_cnt_cry_8_0.ALU_MODE=0;
// @5:114
  ALU un3_cnt_axb_4_par_1 (
	.CIN(un3_cnt_axb_0_par_1_COUT),
	.I0(un3_cnt_axb_4_par_0),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_axb_4_par_1_COUT),
	.SUM(un3_cnt_axb_4_par_1_SUM)
);
defparam un3_cnt_axb_4_par_1.ALU_MODE=0;
// @5:114
  ALU un3_cnt_axb_0_par_1 (
	.CIN(VCC),
	.I0(un3_cnt_axb_0_par_0),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_axb_0_par_1_COUT),
	.SUM(un3_cnt_axb_0_par_1_SUM)
);
defparam un3_cnt_axb_0_par_1.ALU_MODE=0;
// @5:114
  ALU un3_cnt_s_24_0 (
	.CIN(un3_cnt_cry_23),
	.I0(cnt[24]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_s_24_0_COUT),
	.SUM(un3_cnt_s_24_0_SUM)
);
defparam un3_cnt_s_24_0.ALU_MODE=0;
// @5:114
  ALU un3_cnt_cry_23_0 (
	.CIN(un3_cnt_cry_22),
	.I0(cnt[23]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_23),
	.SUM(un3_cnt_cry_23_0_SUM)
);
defparam un3_cnt_cry_23_0.ALU_MODE=0;
// @5:114
  ALU un3_cnt_cry_22_0 (
	.CIN(un3_cnt_cry_21),
	.I0(cnt[22]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_22),
	.SUM(un3_cnt_cry_22_0_SUM)
);
defparam un3_cnt_cry_22_0.ALU_MODE=0;
// @5:114
  ALU un3_cnt_cry_21_0 (
	.CIN(un3_cnt_cry_20),
	.I0(cnt[21]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_21),
	.SUM(un3_cnt_cry_21_0_SUM)
);
defparam un3_cnt_cry_21_0.ALU_MODE=0;
// @5:114
  ALU un3_cnt_cry_20_0 (
	.CIN(un3_cnt_cry_19),
	.I0(cnt[20]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_20),
	.SUM(un3_cnt_cry_20_0_SUM)
);
defparam un3_cnt_cry_20_0.ALU_MODE=0;
// @5:114
  ALU un3_cnt_cry_19_0 (
	.CIN(un3_cnt_axb_16_par_1_COUT),
	.I0(cnt[19]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_19),
	.SUM(un3_cnt_cry_19_0_SUM)
);
defparam un3_cnt_cry_19_0.ALU_MODE=0;
// @5:114
  ALU un3_cnt_axb_16_par_1 (
	.CIN(un3_cnt_axb_12_par_1_COUT),
	.I0(un3_cnt_axb_16_par_1_RNO),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_axb_16_par_1_COUT),
	.SUM(un3_cnt_axb_16_par_1_SUM)
);
defparam un3_cnt_axb_16_par_1.ALU_MODE=0;
// @5:114
  ALU un3_cnt_axb_12_par_1 (
	.CIN(un3_cnt_axb_8_par_1_COUT),
	.I0(un3_cnt_axb_12_par_0),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_axb_12_par_1_COUT),
	.SUM(un3_cnt_axb_12_par_1_SUM)
);
defparam un3_cnt_axb_12_par_1.ALU_MODE=0;
// @5:114
  ALU un3_cnt_axb_8_par_1 (
	.CIN(un3_cnt_axb_4_par_cp_0_COUT),
	.I0(un3_cnt_axb_8_par_0),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_axb_8_par_1_COUT),
	.SUM(un3_cnt_axb_8_par_1_SUM)
);
defparam un3_cnt_axb_8_par_1.ALU_MODE=0;
// @5:114
  ALU un3_cnt_axb_4_par_cp_0 (
	.CIN(un3_cnt_axb_0_par_cp_0_COUT),
	.I0(un3_cnt_axb_4_par_0_cp),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_axb_4_par_cp_0_COUT),
	.SUM(un3_cnt_axb_4_par_cp_0_SUM)
);
defparam un3_cnt_axb_4_par_cp_0.ALU_MODE=0;
// @5:114
  ALU un3_cnt_axb_0_par_cp_0 (
	.CIN(VCC),
	.I0(un3_cnt_axb_0_par_0_cp),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_axb_0_par_cp_0_COUT),
	.SUM(un3_cnt_axb_0_par_cp_0_SUM)
);
defparam un3_cnt_axb_0_par_cp_0.ALU_MODE=0;
  GND GND_cZ (
	.G(GND)
);
  VCC VCC_cZ (
	.V(VCC)
);
endmodule /* SSD1306 */

