//
// Written by Synplify Pro 
// Product Version "N-2018.03G-Beta6"
// Program "Synplify Pro", Mapper "mapgw, Build 1086R"
// Mon Oct  8 02:53:47 2018
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "\c:\gowin\1.8\synplifypro\lib\generic\gw1n.v "
// file 1 "\c:\gowin\1.8\synplifypro\lib\vlog\hypermods.v "
// file 2 "\c:\gowin\1.8\synplifypro\lib\vlog\umr_capim.v "
// file 3 "\c:\gowin\1.8\synplifypro\lib\vlog\scemi_objects.v "
// file 4 "\c:\gowin\1.8\synplifypro\lib\vlog\scemi_pipes.svh "
// file 5 "\c:\gowin\1.8\ide\data\ipcores\gao_lite\gw_con\gw_con_parameter.v "
// file 6 "\c:\gowin\1.8\ide\data\ipcores\gao_lite\gw_con\gw_con_top_define.v "
// file 7 "\c:\gowin\1.8\ide\data\ipcores\gao_lite\gw_con\gw_con_top.v "
// file 8 "\c:\gowin\1.8\synplifypro\lib\nlconst.dat "

`timescale 100 ps/100 ps
`pragma protect begin_protected
`pragma protect version=1
`pragma protect author="default"
`pragma protect author_info="default"
`pragma protect encrypt_agent="Synplify encryptP1735.pl"
`pragma protect encrypt_agent_info="Synplify encryptP1735.pl Version 1.1"

`pragma protect encoding=(enctype="base64", line_length=76, bytes=256)
`pragma protect key_keyowner="Synplicity"
`pragma protect key_keyname="SYNP05_001"
`pragma protect key_method="rsa"
`pragma protect key_block
hpggv0Tm4wocDUFHdWKHHpAXB9LSbT6jwkjnxyWrCfCmz4QW6cwJlT3/UoeUCNUT5fJbIz9BfRVc
ncw6I5EDrnITof5tqjcfxkBgtB179czSfZnZ/ic9I+5tKSUSPz3yrZp2eFqR6maFJ4ZFO3ggJQRI
pMSxtGVtQNscosLDvlb7UBhCxLhz9HtSU3bAFqFdYJ6Ds4Gc6dUppvHj2vGY3kGoKWzRosBKS7op
WVhQl98MN1yzjocyiSTc23o5Z7CC4NoOElkZD+PHCv3QZatGCrF/Ixhyj7NkSJof9JAeqdxRN1Ol
uUZKkt8tieyz4Ng6dtNiWV1/w/P3xNM/Z9viyg==

`pragma protect encoding=(enctype="base64", line_length=76, bytes=256)
`pragma protect key_keyowner="GoWin"
`pragma protect key_keyname="GoWin2016"
`pragma protect key_method="rsa"
`pragma protect key_block
Wx+Z2F6166z7OXdCxTlURHlH51lrKlEw/V2tkTPJ4ddpwew0C7Mbi3RN/SMocOQTodX7RnpijzeW
Hrw2+8gA+9Mv3HskgEl+/CKPzSBbJO08rk5DbwzcxptXojpKt65aHNmSH3+/nZLR9U5OHJ7klLQs
X5gK5tvAHmk/f/dtB4WECVOVppFSFYyj8lGk4TRhh/t68x9Bwyu7SApWXSy7Y8cTXlRMfhDdDVp0
MjHTXirWWiYlRCUe43X3ZK6jYwQm9E5oXB4R1YevzbiMAhc5OMALYNVtBjnAr205F5RAnm2B8Zg7
T3KG+GLsMSyOxhOrJ01noNq7AIkMYL9q+hECGQ==

`pragma protect data_keyowner="default-ip-vendor"
`pragma protect data_keyname="default-ip-key"
`pragma protect data_method="aes128-cbc"
`pragma protect encoding=(enctype="base64", line_length=76, bytes=7072)
`pragma protect data_block
t84EYPKvQvKoQGITP5Is5fWsyOdSimIt8ClUYsC2dKvW3d5c20V/DUmb+BYtkPllhofqXOsJz3KA
Ke5d13ThaGEc2qPHxpE7jRDOimHBXF8t6BsaMFJFOsQPHT826bt4v/nqLr888n5F3bBw1Th29tPm
yKd+iA3Ob7qcXr+xKptJiyxGvxYb5fRlbIBAM8FR1yrV1ZrTpDXZnArEJDMQj3txVFUxl1PHSvwV
k7Ts0WSpM19qVLlAXaCpGndZzaPE+ncrpUcYBFvFBmiR+ULzwEJqEMqMZDEyeBXUvzpnQOJU+m2C
L5pDtDRXtbX/Wug/sNZG5/QfeXIjy4NbZxyOfFlO5Z6qvuQZSqlIAWcFcNwDAqR6/k3wxRoXhOUA
+EbJuNFYsXdn0TrQmeDlwSsVPRX3Bn06e4T+w5ZdYDfYLjZBFHQAZ6u5o6S7xhGm126u9NydoTUq
vCSIpicly1v4ONfYRCdQaNm57zBGV2oNs+GRp2PRprIPpQ1I08iH5Kjbzk/lE9VFFmB/Shjiawtm
703/XMbiq8wVJp5xMqrPLA1sj2GQx2Ijt30yF8xmS+0ZP/CkZ26w778Tz1XN4qJiFhP8jQckK5i4
DWRN+MrRM5jqrKQLec00dUIdYoRtQp9hrKufI1Ip2Nj5kd+WoHPA21EO47tZ3QTzW5+MEbcvy2XX
m/nISyub3fkbYzxebUyME9vCtO7+u6IOm47ty+w//gbRRm+hXY5vWdvGDLqI9+HBSzsYh4gt0Qe9
cOfXXw7Z/jPVdnJ/TFe9ffYpF0LDzmS7twlpESXx5pFhFtRJwZhz/00gepv1DpsdtGgUcC3YIhOh
ntb30QOgEwdTRSP+5waVEBj9M/WTj/6vSS6i9YtBQzwC7PlMabin+v4llg3SBQDplLCHZeo7hQXh
lTxAoOZeQkJBB8e9Zz3vHDaO6K832MKD3XjEj6OK8omnlBj3Q6ZXXlW6+EsfuFWX2yw5i919gUNi
qe/Cto5mJ3Ccst3OyWwrQzgMbPzzdH0U+KZGVNpx1S9mizaMSjLq5c9dxO34dmgYAhSdVJAK3ls5
JHyk7anhgHlmr0o8DG//PoJD/Fx+yBM1mWm03F7iXgqDxl0H+2MCosLRrCsYvy6Nole328lBdhwC
M9dm3orJue5sFI0niFacKkk1LECujmv3Tdb0jrtoK3IoXlZ2ZVTd10Fw7XjQVUXjZJDqk6hdZ5qA
s4dz0SbZ/O1KVq0COYD2/ufNLtxjQGF0OLeXB0TF3u1JeEJy6oeQXZB1i7R/MEwtXTiGF7fhM8I2
hHcqBOe70qFNFPMzb7f+l9U9hB7fdAooLkUXmnFNjbl3MfvApuNkAchbCS2Ec+SurDhTWXT/sc2h
+Zx5HxV6glQ5eMSScBt4wddARzUi+HNSzkY+8OqOegN/T3f3oLWA3UHle+LxJqawwz44WHXenK98
0wA++lwizt71U61Iny2wV9WYE5qn9WMY9yd+x9S7c4IrXWxcKQfxY3mpG49jUSYYyhxhYj7eWOFc
oIH8KvyJvC0hBJL1vOH7xOI48GY6RZGeVQZLIqapj10XYkPnpjS5/rITt/vPQkJjG0t12lchxu/W
NWaEouuLeVpywTPX/Gms7ATWLKY719siB/u8gyQhWfUTkh/TIvRrmFzbxUiDHzbdhHLCytw1WodX
Sjnn1Q601X1vqHFkEl5gWEM5rJPM2sKIRDsBJ7g3gakcDdBI/+3QOOHFxSSKJIFAlLw1+QyroFbS
+0nlITki1bzv5C0zjy+/G+iZ6oXwjG1BXhGn01uIrty00CobXlAPYyg5E8/ECa7QxgD5dbGUM2Do
pAH9/sbtVhlzAtlPDMyNjwTdnltaWeGrVHJ+JGyDw/Yc93KDXyKiInVm0vw6Olif92ESI9D9Ersr
w9wVtckRfzBvn6udsB/9OfVOnDaDWxwvnF7d+vhnDBhHoSFUc84JNEFYM1im/bpV1Rx4YDwsyQ6A
iBBuLXysTLXR4ggPqo+2fJk64ZDO0C6kjOHWb7zkKbOIWEnDI6mkagLKB/jRqMphY2z29G3oLtBm
f+KWXPKy4qnANnTw2qpKcQC+vPVBwlfqFtAgkW5HV29cMJ7a3EqaabiVTAuR2iU+9qJB9ucTjLzt
tvueaayQIiNwYkj6Xmu7ifmyBo4DeDnS9SCtAObpFbHFQzaVeksC7SEsCBl2yiKRblXabkCCyBcC
gXdfnp0Q2Lf4cAa/wrQGZGqfdIlFkgIgbZLVCU5KnXGflwDzq52e8LvUEr6ps4gWFP8QkDL1daSE
6wWjMJSlg9/RIF5UH4JvH/bVX++fJQXwNr7YKNNFbt9+nROIJK9H6FYRxPUGZMYVWmZhQd94XDQ8
NCsNkYi83mvhJgwj7DN+Zk3bs7bPOr2fWhI5HhmSnjHVKLe9LPkpS9z1bU5QQg8BT1QS9D4c0PuJ
oNsH4geoanPOjekiRaTgbgCjk6bRYnQFds9BOR3tWY3KPdmwM4bHNMpIxmtF/VtVO5UThi1gY5wz
aLftOHXiL6eoMsWs7LlgKNo/WvXDi8GyHT+/jfsScdUSojfoCPxp28rUOTgpx8G7AluOPP56eDaK
CtevhQSE6bn4OnViljHvarvS/3IsKMbd1XjIoBmkwxlYRltZrrlvr5FCC/+sHROwzgZfUvr1g/x7
yrdetspXhFl7fTiSKmHTKeNEd1ZuDKC+ZitN5Frv6mUyutkk+sJ0OBr8Br5BUkxkXyAv9avSokYH
3kde3O6x3u6QvU/1dFskRxA1mSl9XkxIy/7JwnbTudElbp7aeMMcQh2Lmn5P/tsoeXHmPrfaUR/T
PTjSJl+oOEWiynFNPyjR1yAJbg95/1AgV+Si+TkLJ2Kui6AXEkIQRqc/D/5AglaKLC8utp+nx4VW
Qh53Ln6ZCfhIw82wTDF/dOT/V5XAVnjes7EOKlpah0xPViJ3COZL4hJKRqrt/HT9F7SCOBGSf9hR
1ucMuaZovRNvUfxdts4myuwJAKuSUiaNv/089ocFqXO/T+7ZonJhoSpo1c9cbgpIwCxnLXUL6n1y
ZidwzRrBKslhrbAoXB0ErPLA0ObRWpP4N1H/jl188+ahUkbMiRRrZRoi4eE2yJ8tFeS7XX3i0tQJ
EMqTESeBJQIDVwrApx68ulA0FOMY8liC2KJm1LqQQ4ZNHUS4YBc5ZyGxWWRO00MesE8TbMdEKaRR
j9xyj5Y8JUdZlC/jKwTjf9Xd0B60g8ojZ7Fc3i3PltCmZxosb0spLM6pT7lFOk/RNY5la6b8Cize
xxJISuLngQRJBoedEl/FJtisCWSqlcFibOEUBwPJCRn5XWCCXMGnVmnT/qwTt8rwCegQUj4+noS7
PHpZLc81xjEkqm6G92seyYHcISOH9/zgz+0iDAJwwrI2dHJyIJfrnoht6dU5Vm87NI/UHdGUk1Gd
GYAOvVfJECaIbynJUA3itfd4PWjYHTF/6pdoUDcoctPjlloTM7ZEbDm/hCB6YZJsPSKCBmhEUThm
colmm1QDVMYe8PQNQaKXssoqG4s2XGkA0QLU9vZDJ7h06qbgIOdXI62Hvjyu+cfFC6vgAbkpYBhy
uKrXpiiST3OKuKRg58SSUWzTyQUG+6mf1CJe01gwdI7NU71HaBhPuieRq5YrJPFyDriznXsAdZtx
GnT6kuD77tAVt99EefIl1rNgZFmHKUYeAcAfMXCVaLWvwEZIOl3pHug3Otata92h7d5e5ZJ4sy4u
igcS9uMvCaVJ6LX58MjnOV5UPnYBCkMb0S2psKjjgSVlAQjfcDo1bvirgxPCUpILlc5CJcIl9/Rm
qEc6VGyckTtMFp/83dGoDffhhm+ij/AlgHisTkUPfEcvDXhGZBYC9gZZKI51YA2BO4d4C0OkzkKk
rlw0J9UQ68FjpudDTAJSuQq5EUVvZ5pn4K1215g3aNjC0Wq0x5yrhFGw80rbixV0bllQxXKsxPq+
/NUUFDghMectjl0ucJmJs72J+o6FFrUnEDW5YpFIoBhiLlSlSf/uKeiF4F+009a5bBxAJpIKah6L
o9eyIuptAMymQ2l7vqHqGGD2hBNhYGHYBB0ptgDJNOWzptC1vcj0pJvTQmCVujtfQHFw+kAnQWOQ
yZkkBWIRDxQNG71svR7EXQe/T91pU9JdgtXsCY7rpUV9cHKDPYyOo1M+qPCrSg0IHonbmiHFTiMK
VDKhb6LlvIuFf1kEDJYpTiZ31iGbxnPiEC+jfkJ/2uAzoXc5hiisL5eSCVdJoaWMEbdOrCjwC3b7
APTWPv5ChrJ6hPU0r6C/MGDIfvkG4emfsNuQIL/VJL2J+7fs0DHfWxc+b5mL69yI1+n1Y/lxEnh1
6B/IafrqKZD2VJp629a+pNqiFvV8KXubPv2Ufi/2NQ6qqXD9LF61aH+tjefwyIh4aYXcruuHIJrm
UotV6SYJZkVaHbUnjtoXgLACAzaOwoU3TkxcWAutVgeb9dseNabl7hNYdBdUROLWg4D7pNSsPK5C
d5J2aHM7+VEYd286PEwsIOI0IZuH+EEK/yQImani9hJtpwTTW5H3s9/ewmetkeurrpAD2BiSldW6
dUHQJd6BpZVvpy5TOgF4FogHHEeSnboOnoLbvOmSKpkSDB3zJETsRJf5xGn+omR1jjipko5hvNHn
znyu0TLs9j0giiWS0JQSs6FRPq98KRAVWETOC32CUKugRJMNlz1rMA2yq5RKJ7qvgs4dijC1reRH
tthNdf7++8+Wfc57UuCvgn+zFjbUroyFF4X7Alq6nC1ZjTOFc/K51lbsjVuLHf8406nk1zBLgCVd
g48h9MWCezGqhtfH/Y7jzLK/clKnc5B/1QSiZr54uq2FBuopi2dVVqWuFOeOQ+qR10A0eN5zIdVW
lbJbcks3vaYHozhiuFRz1eoKHK5Sy6thdmmNTB572P2qAeKZ9rPzWLlaRD2NiXIyGmYM1FlzvCzI
ytEi12Khf2J1+7+T1WhMShtdOPyM87+++ZoEpBQvoC7Cr8gIgPd3NOW7PwkgW+Zufjh1vkOLr2KR
kVLLxwTmZNnOiw8iaBoHoB667YgnTATemyS4O/c3bcXIqZ2vulISRRb2UbgTJTesyDfOiY9gwLGu
ynfbALUU7H183jqX7nGcQlWRiISvI8NMMwul6ct303PS58owHs93q0tIEaFT8kqlwLLdtZfpLCUU
L4cofyvAnDLV9R0woyLCAfeg2WGbh+25u4t9I7fKN65JB/pvWEZNpgslFdPfAkwU1WehUX35+ZsR
AXD0bm1FIZZzdkIHjvmk9WS+PCRaq3EcihGhp6HXU+0MX6UqhzlcCb87uivZpp4vctmXGwu6Z/0s
NV2z9rZ7eIgVluQ1MHWMNAKRrYMEbtIy6nHcbX5jBYn0y3RUrrhuMCZx2a3REbB/nXQFZQ7M18UW
5edvdQQZZ+B+IzSldaISu0Ufom5oCWXJoYxAawtUwTNOgnGHv7C2ITZ0eqkTle/LyaO6gz7fy0fe
wySZjMLzJ7Kg1iUdyCTuDl5n8xezy9p6R3kYiKlgoXXzeWsdcNmWXlzN0LqldhyP+A+eL9agbXVE
thOZPUmSj02vEndSkuPyswsj2R6Sf/Ov81TCQJd3SHfh5Evntl/zhRbN83WFCV3uOik0y+Vw9HO9
e51O/s+Jgv0cRn/3dDz5xN6KGGD0uS0Z3zfZhEdAyMFnFnQr0MVk163nP508vrbb3D8cBpb+BMHj
MtV1kjV6ty1z6KnhlODbSEJ1FN3kpBct8e2PSgUODa0YSo/bbqVL7hBGPt9Nxl/1S8HWpwA5hJmv
VG9x5eVB3kP4Hmol+2wXBKJJS3ZWL5Kryf3MXucuhRQP2P9ZFu2lGR6wMC5yuwONO5cpkSVTW1dN
jZQUO5RvBWlO7f7RSlBIXw6iXIc3LEji/HGPXscCpYx1I+jwzqhyBzw6y+1bogSxBwmeEDdvTMBZ
lCBhQwjEigomWSg/DZCHlGDWk94jXboOYXDrGdHw85NqC56emU5UiFi1viigF38QVARwy9zP3LV4
GaGlFQi12LeMjTYXuJbXAh29ziGvrYn5LA1P8oy2ZyLMK1AheF1PWMLm0k1ytSO+OKLFD2CIyQ4X
ncZmEQkKkqHQLRoV07MbX8GssVaViayrLiMQaDESer+7v7Ti5x78ti/ck2XmiPmAz49qZT3ugylq
ySmJThbklWy2kJzU/pIK26e3gb0649qrnV5Jjn6EKd8/ea1EUcDMxGBlNOi3AwNg4LrvrmNmrniX
mVh80r4EHCo7c/pvllLaY48SdcnukxuHctw5MoO48uJOZhzfxGtn1CK8gOiNqQmV2tzkcxhr5k/t
OXI6AVjWLUWtMfPc/eFvCC0yul76nKR9dRfRr3l0lUZCfiY2SqinP4XbLfzqm5nRAbSjan6vABZx
1wbarLUooUXCqgOc1agiKYlIvsXI0cuk7eKAxALIBP4tgD3mrSpB2FUj9bZGKw2BXoV5lDu+i3ok
4xlOaiMxc9k09gvILXrTcHeXT/wFHLqfld2M3bMoY/wJ1vSXILDCKq+k2EWowMT7DL0M6V7KtHpi
v2Psr7iCi3iWzNRv0D5TKflWtABOec3jXyCM6/Xth0Ts5lxq/d+biVb2Z552/bFrBoztamJ/EYp2
Y7Yx1mCxCvy3UjgpKfrV4gB4p7q22FlkGhX+z/YrraPolflvYthhNjWLjn55xFVVOe03hFdPKh9L
8Dsu5YqcRBbiyRwFQBmkXebfHZy7MGLgYthYuGn5gyjV1npCJwC3kz4PLqneYxSm0H60TjRpWyLz
uacxX06QhyITkCgMP7TGvp+r+71SP3hMSrQp5UmixBDhfO6Xt9d8zw+fryA9xUZyVroyhFa+JYs3
cKJjuyhNDd4bSllgKQpscmyvRp0+lt7FHfTZiI2WJjkmFCQ4yOIYFo1/phiXhgcX/U35cMYv+woh
b0JOm+1O4gqQzJ4LaTf6DqV1iWrfvQukg/SIR2Yoisq62o6qhb55DWLiDEQkJovEnBzsGxesSk6z
FlXpv6qtzpqOae9J2QtKv8mUAS7bPl73pk496uNnMfNsX5FFaA+WnjufX9JmFBjOxhvdVr8xd7kC
XNLFPo4+qh+9/NAYhAWVAAXVBWRmJ9SZrkc55M4uZ/wIuad2MkE8PtEPrdWCEZwmeTG+4l8OCwow
kNSA+Xa2kOBBfAudStqpCUaHuBtdiYKr8Ij1mwoqLxtWpHKzdoqSIf0s97/VcA8ZjkJtrZ63kcaU
WRo4KA72EO76tab5Cb3YSIysWZ90sNSSJrx7pVIixrMGavASf3CDD045KihM3eD/P6OZaxx9pJJW
6FModEbVfw8SGEtZl2OSv8ztBBrntCBvudThbWnw7t4nQRmNuQDidyj2dl/9tHSsiQ09JQtlInBR
b1OrFBISz0UVoyJOSN8+U28zA1t7dujDakIKT/r4FtEtICaEej6QwJxj0lWCEWBIdpv3lUvcp+oZ
t3Vnt7sU1Ad4JmMj16hbuArgLFGcKDZVq4EG0RDhJWUIwPL/ZvuJgXOOga2FdloX1X7acqBDdRlu
EG/AfkCDhTamhKVEXoGxND4uC5eAQGCb3dJHzQia3aVw609Jdn8w4z25bnjkEn6fc5VM4NCB8oTV
ZUAa7S53RW41v0+W56UIz9aSiAuLxyRzTN78ZbJfecQSsoGyrIOZPVISgaTWa3s44e1qsEV9qpYK
22CUPDr2h9P828qhSFXozjyeJ6SRxa4n0c3wD6vkeqwd8Be7T/a5LfPUkSNxmpr1eaApw2fGnq2p
R3AySgl1pkLBaCsbX2mVlMky/QEHzs6b7oLno8fO5zTTEBMRrZPwzolqcYxuLZlm5V6dTAprluso
up2BKRkkLfYnr57nDY/5TrpsJz6EyNREzKvWRWlM39Og89MSQgAqj5Wi5/NoIGeQUQibu1+XE/Pr
PLTlu4QUAEvgHlLlbL8hXz6OrCSGbz4F1joffEBgPxFJMYEybUKXzVnUxAfABd2gJsSaePIfmvlM
1mqsYCgi86z+JIS8+1wNu/1p6UietBnon1WuhUIlCXPRah517r/TTVdRJrFqLYsi/JxQtWum/R/F
/P6rBZe2GHsQjbEo/uLM6kKy9Ao3mvCQ8pDQTf+ZWn2290swDoUozUkGz2OgTL7fSmkgmfvJ/qtS
KfEr8wr2fpPSdPN7g+/fQIbNH4dUI0CJUuu617yNHi2FwEPxRuZ+oZq0AfRJ2ZcRV8ZvsSeEUT7f
33Oo427f4pMd/bfHfZnDEd2WVcdQ1C39FcDoh2y4OftcEa0TLoNK2y6p03XxO75IAV1ovtNTWRZk
TjbTuHMoGgdVkKSmUwfYKe4yd/nClyT7jtYXQOaRVUXAfCXIydzObs157NhEsJCHnt7ODdbPnXuV
1lmD1HWUzQtkhBsn/4NYUieFLaVrBlP5JLnQ35/lIuGty6OxRzrJt3teHRkc2ZoIvK3GtaSqtp00
41GUWcC5I1qMvjaKWL64FThM5H8/N3uNRqbt2X848X4sybJyNs2eZ8YY0q9qyyfEbkt0dmPqUN9N
HeOWk3gXutnYm+OQBkZ9+Fz2hTd+Te0e/Jxxo3Mbf1TGML1kivxBOjBpG5HgMjlSoWcAFkDH4zaj
CMQ6geIU92sC53nsPorEa0fJZg4gTldsUuuQZuaQ91jLvL4mmwAbdIc6dSdaZiCLgdwDfVQUsB9K
IjPUhzWr2dLBi5fYsLOjx6PLBs5uJAfN7CRYSyuB4hV6j9OmQF6DTfYxYaPBcNjFMpGpPN+Aze1L
svXG7cHkJGu8AuNFalBMuaadoGPnQWGm82McSQkjfCsNJnMhySKvKwtW3r1A+vO1P9N9oTuJwH0G
nOAaO6ghyAQASoImLHy02bLN+bbrKp1BofHr2myVaovGdlhwCpunemVxzaBS6NteLa61xdrfO0hr
hjYweLucjiEtdLnl2PziiW79ox1QBz2pNhLnFxZW2hRn8MTgrpUZ+vHhxZl/gNctRJrI//+gnpr7
9spd8vCmA+mMdSoW5K8RmcwSwiCV5ucX1BDXS8zVjPkKn/ZqFUX+AgVCN5vJZUB1JVIh/Tr5knFv
+kayhJ33mjPhDHywStQjKhav7d7M13BaNPGJu/4h4zJjx32BPI7dVddDZzYyBS3xRfrF+ELFsjnc
Q8qsJuATJyxbYXojJyFPxp6HrloxT1iOZHG5s6mWV1UdqzgS/jp/r/7Lgwr4T0XGk5JhU7bAp9R/
ASOlIHV6zm9MLhO+/2tx/Ckpc0rb1amn2S3hsp2N+J0ndlRJQsz3NoHEyznsQqO1LKZd9DpBHUN9
2C4uYbIaHwYEgF5mGObrMbXaOZtwRcs4MBnXQGRfs1I7E+1cfzbzF8pugzKRnh25u0eYYfiYs/8l
iL2kMO+rjD5WkAlyGAlsJmj3PvzSdgUZqpkwFzGF27fuFuZsRXVbaxbF9vcivehLgKCQS0g5Yfil
wDJgqQ==
`pragma protect end_protected
