/***********************************************************************
 Physical Constraint file 
 Version:1.8.0.02Beta
 Created Time:   Fri Oct 05 13:38:30 2018
 Device:         GW1N-4
 Package:        LQFP144
************************************************************************/
IO_LOC "CLK100MHZ" 6;
IO_LOC "btnc" 92;
IO_LOC "oled_dc" 47;
IO_LOC "oled_res" 57;
IO_LOC "oled_sclk" 60;
IO_LOC "oled_sdin" 61;
