/***********************************************************************
 Physical Constraint file 
 Version:1.8.0.02Beta
 Created Time:   Sat Oct 06 20:12:29 2018
 Device:         GW1N-4
 Package:        LQFP144
************************************************************************/
IO_LOC "CLK100MHZ" 6;
IO_LOC "btnc" 69;
IO_LOC "oled_dc" 131;
IO_LOC "oled_res" 132;
IO_LOC "oled_sclk" 133;
IO_LOC "oled_sdin" 134;
IO_LOC "oled_vbat" 135;
IO_LOC "oled_vdd" 136;
